<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>HOME</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <h1 align="center">Welcome to Train Reservation System</h1>

      <table class="table" id="trainTable">
        <thead>
          <tr>
            <th>Train Number</th>
            <th>Train Name</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Fare</th>
            <th>Availability</th>
            <th>Book Ticket</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div></div>
    <script>
      document.addEventListener("DOMContentLoaded", async function (e) {
        e.preventDefault();
        const records = await fetch("https://05a3-2409-4040-d17-92ac-f559-54dc-25a1-9be9.ngrok.io/train/check");
        console.log(`record type is ${Array.isArray(records)}`);
        // const records = [
        //   {
        //     trainNo: 123,
        //     trainName: "godavari",
        //     source: "mumbai",
        //     destination: "varanasi",
        //     fare: 123,
        //     availability: "yes"
        //   },
        //   {
        //     trainNo: 1223233,
        //     trainName: "godavdari1",
        //     source: "surat",
        //     destination: "jaipur",
        //     fare: 123,
        //     availability: "no"
        //   }
        // ];
		// records = JSON.parse(records);
        const tbodyRef = document.getElementById("trainTable").getElementsByTagName("tbody")[0];
        // Insert a row at the end of table
        let htmlData = "";
        
        records.forEach(record => {
			const newRow = tbodyRef.insertRow();
			htmlData=""
		  const keys = Object.keys(record);
          keys.forEach(key => {
            htmlData+= `<td>${record[key]}</td>`;
          });
		  htmlData +=`<td><button type="submit">Book</button></td>`
		  newRow.innerHTML = htmlData

        });
		console.log(htmlData)
      });
    </script>
  </body>
</html>
